.home{
    width: 100%;
    height: 100vh;
    background-image: url("../../img/1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.todolist{
    width: 500px;
    height: 500px;
    box-shadow:3px 6px 10px rgba(0,0,0,0,1) !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.item{
    width: 100%;
    background-color: white;
    padding: 4px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}